#main
  .article
    :if article.version
      %a.sha-version{ href: "/#{article.version}/#{article.name}" } Static Version
    %h1
      %a{href: "/" + article.name}&= article.title
    = markdownEncode(article.markdown)
    %hr{style:"clear:both"}

#sidebar
  .aside
    = markdownEncode(description)
  .bubble
    %h4
      目录
    %ul
      :each article in articles.slice(0,20)
        %li
          %a{href: "/" + article.name}&=article.title
          :if article.node
            %span.versiontag&= article.node
  .bubble
    %h4
      积分榜
    待制作
